body{
    font-family:GEORGIA;
    font-style:italic;
    font-weight:bold;
    font-size:1.5rem;
    background:rgb(232, 238, 238);
    COLOR: rgb(243, 151, 46);
    line-height: 2;
    }
    .nav li a {
        background-color:none;
        color: rgb(236, 28, 28);
        text-decoration:none;
    }
    